@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@900&family=Raleway:wght@400;600&display=swap");
body {
  background-color: #1D1C21;
  margin: 0;
  padding: 0; }

#home {
  background: url("../images/home_background.svg") no-repeat;
  background-size: contain;
  height: 712px;
  display: flex; }
  #home .mask {
    background: url("../images/test.svg") no-repeat;
    background-size: contain;
    width: 906px;
    display: flex; }
  #home .mask-color {
    display: flex;
    background-color: rgba(29, 28, 33, 0.7);
    width: 100%;
    position: absolute;
    height: 670px; }
  #home .home-content {
    width: 1156px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px; }
  #home nav {
    border-bottom: 1px solid #F6F6F6;
    width: 1134px;
    margin-left: auto;
    margin-right: auto; }
    #home nav ul {
      font-family: Raleway;
      font-style: normal;
      list-style: none;
      color: #F6F6F6;
      font-size: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
      margin-bottom: 10px; }
      #home nav ul .contact-a {
        color: #FD0000; }
  #home .winner-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;
    align-items: end; }
    #home .winner-part .social-icons {
      display: flex;
      flex-direction: column;
      margin-right: 10px; }
      #home .winner-part .social-icons img {
        margin-bottom: 10px;
        margin-top: 10px; }
    #home .winner-part .logo-column {
      margin-top: 48px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 85px; }
      #home .winner-part .logo-column h3 {
        font-family: Playfair Display SC;
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        color: #fff;
        margin-top: 0;
        margin-right: 3px; }
      #home .winner-part .logo-column button {
        color: #d8d8d9;
        border: 2px solid #d8d8d9;
        box-sizing: border-box;
        font-family: Raleway;
        font-weight: 600;
        font-size: 16px;
        background: none;
        line-height: 19px;
        width: 180px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 41px;
        margin-right: 3px; }
        #home .winner-part .logo-column button .plus {
          font-size: 34px;
          line-height: 40px;
          font-weight: 300;
          margin-left: 12px; }

#artists {
  width: 1134px;
  margin-left: auto;
  margin-right: auto;
  height: 627px; }
  #artists h2 {
    font-family: Playfair Display SC;
    font-style: normal;
    font-weight: 900;
    font-size: 58px;
    line-height: 65px;
    color: #89898B;
    letter-spacing: 0.01em;
    margin-bottom: 28px; }
  #artists .artists-main {
    display: flex;
    justify-content: space-between; }
    #artists .artists-main .plus-btn {
      color: #FF0e0e;
      border: 1px solid #FF0e0e;
      background: none;
      width: 11.45px;
      height: 11.45px;
      font-size: 14px; }
    #artists .artists-main h3 {
      font-family: Playfair Display SC;
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.01em;
      color: #F6F6F6;
      margin: 0; }
    #artists .artists-main .read {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 2px; }
      #artists .artists-main .read span {
        font-family: Raleway;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.01em;
        color: #F6F6F6; }
      #artists .artists-main .read button {
        color: #FF0e0e;
        border: 1px solid #FF0e0e;
        background: none;
        width: 11.45px;
        height: 11.45px;
        font-size: 9px;
        padding: 0px;
        margin-left: 8px;
        margin-bottom: 2px; }
      #artists .artists-main .read .read-btn {
        align-items: center;
        display: flex; }

#awards {
  height: 408px;
  background-color: lightgray; }
  #awards .inner-awards {
    height: 408px;
    background: url("../images/awards/background_img.svg") no-repeat; }
  #awards .layer {
    display: flex;
    flex-direction: row;
    height: 408px;
    margin-left: 145px;
    margin-right: 51px;
    justify-content: space-between;
    align-items: center; }
  #awards .award, #awards .award-middle {
    display: flex;
    margin-top: 2px; }
    #awards .award img, #awards .award-middle img {
      margin-right: 15px;
      margin-bottom: 25px; }
    #awards .award .img-right, #awards .award-middle .img-right {
      margin-bottom: 18px; }
    #awards .award .award-text, #awards .award-middle .award-text {
      margin-top: 14px; }
      #awards .award .award-text div, #awards .award-middle .award-text div {
        margin-top: 7px; }
    #awards .award h3, #awards .award-middle h3 {
      font-family: Playfair Display SC;
      color: #1D1C21;
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.01em;
      margin: 0; }
    #awards .award p, #awards .award-middle p {
      font-family: Raleway;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.01em;
      color: #1D1C21;
      width: 80%;
      margin: 0; }
    #awards .award span, #awards .award-middle span {
      font-family: Raleway;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.01em;
      color: #FF0E0E; }
  #awards .award-middle {
    margin-left: 118px; }
    #awards .award-middle p {
      width: 65%; }
  #awards button {
    color: #FF0e0e;
    border: 1px solid #FF0e0e;
    background: none;
    width: 11.45px;
    height: 11.45px;
    font-size: 9px;
    padding: 0px;
    margin-left: 8px;
    margin-bottom: 5px; }
  #awards .learn {
    display: flex;
    align-items: flex-end; }

#featured {
  width: 1134px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 178px; }
  #featured h2 {
    margin-top: 85px;
    font-family: Playfair Display SC;
    font-weight: 900;
    font-size: 57px;
    line-height: 81px;
    color: #89898B;
    letter-spacing: 0.01em;
    margin-bottom: 0px; }
  #featured h3 {
    font-family: Playfair Display SC;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: #F6F6F6;
    margin-bottom: 0px; }
  #featured .read span {
    font-family: Raleway;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #F6F6F6; }
  #featured .read button {
    color: #FF0e0e;
    border: 1px solid #FF0e0e;
    background: none;
    width: 11.45px;
    height: 11.45px;
    font-size: 9px;
    padding: 0px;
    margin-left: 8px;
    margin-bottom: 2px; }
  #featured .featured-main {
    display: flex; }
  #featured .feature-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: -4px; }
  #featured .col-img {
    margin-right: 26px; }
  #featured .right-col {
    margin-right: 30px; }
    #featured .right-col div {
      margin-top: 48px; }
  #featured .left-col {
    margin-top: 22px; }

#about-us {
  background-color: lightgray;
  height: 430px; }
  #about-us h2 {
    font-family: Playfair Display SC;
    font-weight: 900;
    font-size: 55px;
    letter-spacing: 0.05em;
    color: #89898B;
    margin: 0; }
  #about-us p {
    font-family: Raleway;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #1D1C21;
    margin: 0; }
  #about-us .paragraphs {
    display: flex;
    flex-direction: column;
    margin-top: 3px; }
    #about-us .paragraphs .paragraph-1 {
      padding: 18px 0; }
  #about-us .about-main {
    height: 430px;
    background: url("../images/about_us/background_img.svg") no-repeat;
    display: flex; }
  #about-us .container {
    display: flex;
    width: 1134px;
    margin-left: auto;
    margin-right: auto; }
  #about-us .about {
    width: 455px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  #about-us img {
    position: absolute;
    align-self: center;
    left: 632px; }

#instagram .collection {
  width: 1134px;
  margin-left: auto;
  margin-right: auto; }
#instagram h2 {
  font-family: Playfair Display SC;
  font-weight: 900;
  font-size: 56px;
  line-height: 81px;
  color: #89898B;
  text-align: center;
  margin-top: 84px;
  margin-bottom: 22px;
  letter-spacing: 0.02em; }
#instagram .small-col {
  display: flex;
  flex-wrap: wrap; }
  #instagram .small-col img {
    margin-left: 11px;
    margin-bottom: 10px; }
#instagram .second-row .small-col img {
  margin-right: 11px;
  margin-left: 0px; }
#instagram .second-row .big-col img {
  margin-left: 0; }
#instagram .first-row, #instagram .second-row {
  display: flex; }
#instagram .show-btn {
  width: 97px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px; }
  #instagram .show-btn span {
    font-family: Raleway;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #F6F6F6; }
  #instagram .show-btn button {
    color: #FF0e0e;
    border: 1px solid #FF0e0e;
    background: none;
    width: 11.45px;
    height: 11.45px;
    font-size: 9px;
    padding: 0px;
    margin-left: 3px;
    margin-bottom: 2px; }

#contact {
  width: 1134px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
  margin-top: 81px; }
  #contact h3 {
    font-family: Playfair Display SC;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #F6F6F6;
    margin-bottom: 19px; }
  #contact label {
    font-family: Raleway;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #F6F6F6; }
  #contact form {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    width: 540px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 19px; }
    #contact form .upload {
      display: flex;
      justify-content: center; }
      #contact form .upload .upload-btn {
        overflow: hidden;
        white-space: nowrap;
        position: absolute;
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        width: 1px; }
      #contact form .upload .upload-btn + label {
        display: inline-block; }
      #contact form .upload label {
        cursor: pointer;
        background: url(../images/upload.svg) no-repeat;
        background-position: 136px;
        padding: 33px;
        font-family: Raleway;
        font-size: 15px;
        letter-spacing: 0.01em;
        color: #F6F6F6;
        padding-right: 43px;
        padding-left: 33px; }
    #contact form input, #contact form select, #contact form textarea {
      background: none;
      border-bottom: 1px solid #36353D;
      border-top: none;
      border-right: none;
      border-left: none;
      padding: 6px 0 9px 17px;
      font-family: Raleway;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.01em;
      color: #36353D; }
    #contact form textarea {
      padding: 5px 0 48px 26px; }
    #contact form select {
      padding: 6px 0 9px 22px; }
    #contact form option {
      background-color: #1D1C21;
      border-bottom: 1px solid #36353D; }
    #contact form .select-label {
      margin-top: 27px; }
    #contact form button {
      color: #d8d8d9;
      border: 2px solid #d8d8d9;
      box-sizing: border-box;
      font-family: Raleway;
      font-weight: 600;
      font-size: 16px;
      background: none;
      line-height: 19px;
      width: 180px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 8px;
      align-self: center; }
      #contact form button .plus {
        font-size: 34px;
        line-height: 40px;
        font-weight: 300;
        margin-left: 12px; }
  #contact .map-section {
    display: flex;
    justify-content: space-between;
    height: 317px;
    background-color: #C4C4C4;
    margin-top: 80px; }
    #contact .map-section .social-icons {
      width: 22%;
      display: flex;
      justify-content: space-between;
      margin-top: 15px; }
      #contact .map-section .social-icons img {
        width: 20px; }
    #contact .map-section .map-info {
      width: 26%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px; }
      #contact .map-section .map-info div {
        margin-top: 12px; }
    #contact .map-section h4 {
      font-family: Playfair Display SC;
      font-weight: 900;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.01em;
      margin: 0;
      color: #1D1C21; }
    #contact .map-section p {
      font-family: Raleway;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.01em;
      margin: 0;
      color: #1D1C21; }

.footer {
  width: 1134px;
  margin-left: auto;
  margin-right: auto; }
  .footer ul {
    border-bottom: 1px solid #F6F6F6;
    border-top: 1px solid #F6F6F6;
    font-family: Raleway;
    font-style: normal;
    list-style: none;
    color: #F6F6F6;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 10px;
    padding: 20px 0; }
    .footer ul a {
      letter-spacing: 0.01em; }
    .footer ul .contact-a {
      color: #FD0000; }
  .footer .footer-bottom {
    color: #89898B;
    font-size: 13px;
    font-family: Raleway;
    font-style: normal;
    display: flex;
    justify-content: space-between; }
    .footer .footer-bottom p {
      letter-spacing: 0.01em;
      margin: 9px 0; }
    .footer .footer-bottom .social-icons {
      display: flex;
      width: 60px;
      justify-content: space-between; }
      .footer .footer-bottom .social-icons img {
        width: 15px; }

@media only screen and (min-width: 1441px) {
  #home {
    background-size: cover;
    height: 664px; }
    #home .mask-color {
      height: 664px; }

  #awards .inner-awards {
    background-size: cover; }
  #awards .layer {
    margin-left: auto;
    margin-right: auto;
    width: 60%; }
  #awards .award, #awards .award-middle {
    width: 33%;
    justify-content: center; }
  #awards .award-middle {
    margin: 0; }

  #about-us .about-main {
    background-size: cover; }
  #about-us .container {
    position: relative; }
  #about-us img {
    left: 43%; } }
@media only screen and (max-width: 1439px) and (min-width: 1024px) {
  #home {
    background-size: cover;
    height: 664px; }
    #home .mask-color {
      height: 664px; }
    #home .home-content {
      width: 90%; }
    #home nav {
      width: 100%; }

  #artists {
    width: 90%; }
    #artists img {
      width: 200px; }
    #artists h3 {
      font-size: 20px !important; }

  #awards .inner-awards {
    background-size: cover; }
  #awards .layer {
    margin-left: auto;
    margin-right: auto;
    width: 96%; }
  #awards .award, #awards .award-middle {
    width: 32%;
    justify-content: center; }
  #awards .award-middle {
    margin: 0; }
    #awards .award-middle p {
      width: 100%; }

  #featured {
    width: 90%; }
    #featured img {
      width: 200px; }

  #about-us img {
    left: 43%;
    width: 500px; }
  #about-us .container {
    width: 90%;
    position: relative; }
  #about-us .about {
    width: 385px; }
    #about-us .about p {
      font-size: 13px; }

  #instagram .collection {
    width: 866px;
    display: flex;
    flex-direction: column; }
  #instagram .big-col {
    display: none; }
  #instagram .small-col {
    justify-content: center; }
    #instagram .small-col img {
      margin-left: 15px;
      margin-right: 0; }

  #contact {
    width: 90%; }

  footer {
    width: 90% !important; }
    footer .footer-bottom {
      font-size: 11px !important; } }
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  #home {
    background-size: cover;
    height: 664px; }
    #home .mask-color {
      height: 664px; }
    #home .home-content {
      width: 95%; }
    #home nav {
      width: 100%; }
      #home nav li {
        font-size: 12px; }
    #home .logo-column {
      margin-right: 25px !important; }

  #artists {
    width: 90%; }
    #artists img {
      width: 150px; }
    #artists .read {
      flex-direction: column; }
    #artists .artists-main div {
      width: 90%; }

  #awards .inner-awards {
    background-size: cover; }
  #awards .layer {
    margin-left: auto;
    margin-right: auto;
    width: 96%; }
  #awards .award, #awards .award-middle {
    width: 32%;
    justify-content: center; }
    #awards .award img, #awards .award-middle img {
      width: 25%; }
  #awards .award-text h3 {
    font-size: 14px; }
  #awards .award-text p {
    font-size: 12px; }
  #awards .award-middle {
    margin: 0; }
    #awards .award-middle p {
      width: 100%; }

  #featured {
    width: 90%; }
    #featured .featured-main {
      display: flex;
      flex-direction: column;
      align-items: center; }
    #featured .right-col {
      margin-right: 0; }

  #about-us img {
    display: none; }
  #about-us .container {
    width: 80%;
    position: relative; }
  #about-us .about {
    width: 385px; }
    #about-us .about p {
      font-size: 13px; }

  #instagram h2 {
    font-size: 36px; }
  #instagram .collection {
    width: 760px;
    display: flex;
    flex-direction: column; }
  #instagram .big-col {
    display: none; }
  #instagram .small-col {
    justify-content: center; }
    #instagram .small-col img {
      margin-left: 15px !important;
      margin-right: 0 !important; }

  #contact {
    width: 80%; }
    #contact .map-section {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      flex-direction: column;
      height: 568px; }
    #contact .map-info {
      width: 70% !important;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px !important; }
    #contact h4 {
      font-size: 12px !important; }
    #contact p {
      font-size: 13px !important; }

  footer {
    width: 95% !important; }
    footer ul {
      font-size: 13px !important; }
    footer .footer-bottom {
      font-size: 11px !important; } }
@media only screen and (max-width: 767px) {
  .mask .mask-color, #home, .home-content {
    background: none;
    width: 100%;
    margin-top: 0 !important; }

  #home {
    height: 900px; }
    #home nav {
      width: 100%;
      border-bottom: none; }
      #home nav ul {
        flex-direction: column;
        width: 100%;
        align-items: center; }
      #home nav li {
        border-bottom: 1px solid #F6F6F6;
        padding: 10px 0;
        width: 100%;
        text-align: center; }
    #home .winner-part img {
      display: none; }
    #home .winner-part .logo-column {
      margin-left: auto;
      margin-right: auto; }
      #home .winner-part .logo-column img {
        display: block; }

  #artists {
    width: 90%;
    height: 100%;
    margin-bottom: 20px; }
    #artists h2 {
      text-align: center;
      font-size: 48px; }
    #artists .artists-main {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap; }

  #awards {
    height: 100%; }
    #awards .inner-awards {
      background: none;
      height: 100%; }
    #awards .layer {
      flex-wrap: wrap;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      padding: 15px 0;
      height: 100%; }
    #awards .award, #awards .award-middle {
      width: 100%; }
    #awards .award-middle {
      margin-left: 0; }

  #featured {
    width: 85%; }
    #featured h2 {
      font-size: 36px; }
    #featured .feature-header {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      flex-direction: column; }
    #featured .featured-main {
      display: flex;
      flex-direction: column;
      align-items: center; }
    #featured .right-col {
      margin-right: 0; }
    #featured .works-img, #featured .left-col {
      width: 50%;
      margin-right: auto;
      margin-left: auto;
      margin-top: 0px; }
    #featured img {
      margin-top: 5px;
      margin-bottom: 5px; }

  #about-us {
    width: 100%;
    height: 100%; }
    #about-us img {
      display: none; }
    #about-us .about {
      width: 50%;
      margin-left: auto;
      margin-right: auto; }
    #about-us h2 {
      font-size: 24px; }
    #about-us p {
      font-size: 14px; }

  #instagram h2 {
    font-size: 24px; }
  #instagram .collection {
    width: 90%;
    display: flex;
    flex-direction: column; }
  #instagram .big-col {
    display: none; }
  #instagram .small-col {
    justify-content: center; }
    #instagram .small-col img {
      margin-left: 5px !important;
      margin-right: 0 !important; }

  #contact {
    width: 90%; }
    #contact img {
      display: none; }
    #contact form {
      width: 80%; }
    #contact .map-info {
      width: 60% !important; }
    #contact .map-section {
      height: 100%; }

  footer {
    width: 90% !important; }
    footer ul {
      display: none !important; }
    footer .footer-bottom {
      display: flex;
      flex-direction: column;
      padding: 10px 0; } }

/*# sourceMappingURL=style.css.map */
