@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@900&family=Raleway:wght@400;600&display=swap");
body {
  background-color: #1D1C21;
  margin: 0;
  padding: 0; }

#home {
  background: url("../images/home_background.svg") no-repeat;
  background-size: contain;
  height: 712px;
  display: flex; }
  #home .mask {
    background: url("../images/test.svg") no-repeat;
    background-size: contain;
    width: 899px;
    display: flex; }
  #home .mask-color {
    display: flex;
    background-color: rgba(29, 28, 33, 0.7);
    width: 100%;
    position: absolute;
    height: 665px; }
  #home .home-content {
    width: 1156px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px; }
  #home nav {
    border-bottom: 1px solid #F6F6F6;
    width: 1134px;
    margin-left: auto;
    margin-right: auto; }
    #home nav ul {
      font-family: Raleway;
      font-style: normal;
      list-style: none;
      color: #F6F6F6;
      font-size: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
      margin-bottom: 10px; }
      #home nav ul .contact-a {
        color: #FD0000; }
  #home .winner-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;
    align-items: end; }
    #home .winner-part .social-icons {
      display: flex;
      flex-direction: column;
      margin-right: 10px; }
      #home .winner-part .social-icons img {
        margin-bottom: 10px;
        margin-top: 10px; }
    #home .winner-part .logo-column {
      margin-top: 48px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 85px; }
      #home .winner-part .logo-column h3 {
        font-family: Playfair Display SC;
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        color: #fff;
        margin-top: 0;
        margin-right: 3px; }
      #home .winner-part .logo-column button {
        color: #d8d8d9;
        border: 2px solid #d8d8d9;
        box-sizing: border-box;
        font-family: Raleway;
        font-weight: 600;
        font-size: 16px;
        background: none;
        line-height: 19px;
        width: 180px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 41px;
        margin-right: 3px; }
        #home .winner-part .logo-column button .plus {
          font-size: 34px;
          line-height: 40px;
          font-weight: 300;
          margin-left: 12px; }

#artists {
  width: 1134px;
  margin-left: auto;
  margin-right: auto;
  height: 627px; }
  #artists h2 {
    font-family: Playfair Display SC;
    font-style: normal;
    font-weight: 900;
    font-size: 58px;
    line-height: 65px;
    color: #89898B;
    letter-spacing: 0.01em;
    margin-bottom: 28px; }
  #artists .artists-main {
    display: flex;
    justify-content: space-between; }
    #artists .artists-main .plus-btn {
      color: #FF0e0e;
      border: 1px solid #FF0e0e;
      background: none;
      width: 11.45px;
      height: 11.45px;
      font-size: 14px; }
    #artists .artists-main h3 {
      font-family: Playfair Display SC;
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.01em;
      color: #F6F6F6;
      margin: 0; }
    #artists .artists-main .read {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 2px; }
      #artists .artists-main .read span {
        font-family: Raleway;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.01em;
        color: #F6F6F6; }
      #artists .artists-main .read button {
        color: #FF0e0e;
        border: 1px solid #FF0e0e;
        background: none;
        width: 11.45px;
        height: 11.45px;
        font-size: 9px;
        padding: 0px;
        margin-left: 8px;
        margin-bottom: 2px; }
      #artists .artists-main .read .read-btn {
        align-items: center;
        display: flex; }

#awards {
  height: 408px;
  background-color: lightgray; }
  #awards .inner-awards {
    height: 408px;
    background: url("../images/awards/background_img.svg") no-repeat; }
  #awards .layer {
    display: flex;
    flex-direction: row;
    height: 408px;
    margin-left: 145px;
    margin-right: 51px;
    justify-content: space-between;
    align-items: center; }
  #awards .award, #awards .award-middle {
    display: flex;
    margin-top: 2px; }
    #awards .award img, #awards .award-middle img {
      margin-right: 15px;
      margin-bottom: 25px; }
    #awards .award .img-right, #awards .award-middle .img-right {
      margin-bottom: 18px; }
    #awards .award .award-text, #awards .award-middle .award-text {
      margin-top: 14px; }
      #awards .award .award-text div, #awards .award-middle .award-text div {
        margin-top: 7px; }
    #awards .award h3, #awards .award-middle h3 {
      font-family: Playfair Display SC;
      color: #1D1C21;
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.01em;
      margin: 0; }
    #awards .award p, #awards .award-middle p {
      font-family: Raleway;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.01em;
      color: #1D1C21;
      width: 80%;
      margin: 0; }
    #awards .award span, #awards .award-middle span {
      font-family: Raleway;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.01em;
      color: #FF0E0E; }
  #awards .award-middle {
    margin-left: 118px; }
    #awards .award-middle p {
      width: 65%; }
  #awards button {
    color: #FF0e0e;
    border: 1px solid #FF0e0e;
    background: none;
    width: 11.45px;
    height: 11.45px;
    font-size: 9px;
    padding: 0px;
    margin-left: 8px;
    margin-bottom: 5px; }
  #awards .learn {
    display: flex;
    align-items: flex-end; }

#featured {
  width: 1134px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 178px; }
  #featured h2 {
    margin-top: 85px;
    font-family: Playfair Display SC;
    font-weight: 900;
    font-size: 57px;
    line-height: 81px;
    color: #89898B;
    letter-spacing: 0.01em;
    margin-bottom: 0px; }
  #featured h3 {
    font-family: Playfair Display SC;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: #F6F6F6;
    margin-bottom: 0px; }
  #featured .read span {
    font-family: Raleway;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #F6F6F6; }
  #featured .read button {
    color: #FF0e0e;
    border: 1px solid #FF0e0e;
    background: none;
    width: 11.45px;
    height: 11.45px;
    font-size: 9px;
    padding: 0px;
    margin-left: 8px;
    margin-bottom: 2px; }
  #featured .featured-main {
    display: flex; }
  #featured .feature-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: -4px; }
  #featured .col-img {
    margin-right: 26px; }
  #featured .right-col {
    margin-right: 30px; }
    #featured .right-col div {
      margin-top: 48px; }
  #featured .left-col {
    margin-top: 22px; }

#about-us {
  background-color: lightgray;
  height: 430px; }
  #about-us .about-main {
    height: 430px;
    background: url("../images/about_us/background_img.svg");
    display: flex; }
  #about-us .container {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto; }
  #about-us .about {
    width: 455px; }
  #about-us img {
    position: absolute;
    align-self: center;
    left: 45%; }

#instagram .collection {
  width: 80%;
  margin-left: auto;
  margin-right: auto; }
#instagram .small-col {
  display: flex;
  flex-wrap: wrap; }
  #instagram .small-col img {
    margin-left: 9px;
    margin-bottom: 10px; }
#instagram .second-row img {
  margin-right: 9px;
  margin-left: 0; }
#instagram .first-row, #instagram .second-row {
  display: flex; }

#contact {
  width: 1134px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px; }
  #contact form {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    width: 50%;
    margin-left: auto;
    margin-right: auto; }
    #contact form .upload {
      display: flex; }
      #contact form .upload .upload-btn {
        overflow: hidden;
        white-space: nowrap;
        position: absolute;
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        width: 1px; }
      #contact form .upload .upload-btn + label {
        display: inline-block; }
      #contact form .upload label {
        cursor: pointer;
        background: url(../images/upload.svg) no-repeat;
        background-position: 120px;
        padding: 40px;
        font-family: Raleway;
        font-size: 15px;
        letter-spacing: 0.01em;
        color: #F6F6F6; }
    #contact form input {
      background: none;
      border-bottom: 1px solid white;
      border-top: none;
      border-right: none;
      border-left: none;
      padding: 20px; }
    #contact form button {
      color: #d8d8d9;
      border: 2px solid #d8d8d9;
      box-sizing: border-box;
      font-family: Raleway;
      font-weight: 600;
      font-size: 16px;
      background: none;
      line-height: 19px;
      width: 180px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 41px;
      margin-right: 3px;
      align-self: center; }
      #contact form button .plus {
        font-size: 34px;
        line-height: 40px;
        font-weight: 300;
        margin-left: 12px; }
  #contact .map-section {
    display: flex;
    justify-content: space-between;
    height: 317px;
    background-color: #C4C4C4; }
    #contact .map-section .social-icons {
      width: 22%;
      display: flex;
      justify-content: space-between;
      margin-top: 15px; }
      #contact .map-section .social-icons img {
        width: 20px; }
    #contact .map-section .map-info {
      width: 26%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px; }
      #contact .map-section .map-info div {
        margin-top: 12px; }
    #contact .map-section h4 {
      font-family: Playfair Display SC;
      font-weight: 900;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.01em;
      margin: 0;
      color: #1D1C21; }
    #contact .map-section p {
      font-family: Raleway;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.01em;
      margin: 0;
      color: #1D1C21; }

.footer {
  width: 1134px;
  margin-left: auto;
  margin-right: auto; }
  .footer ul {
    border-bottom: 1px solid #F6F6F6;
    border-top: 1px solid #F6F6F6;
    font-family: Raleway;
    font-style: normal;
    list-style: none;
    color: #F6F6F6;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 10px;
    padding: 20px 0; }
    .footer ul a {
      letter-spacing: 0.01em; }
    .footer ul .contact-a {
      color: #FD0000; }
  .footer .footer-bottom {
    color: #89898B;
    font-size: 13px;
    font-family: Raleway;
    font-style: normal;
    display: flex;
    justify-content: space-between; }
    .footer .footer-bottom p {
      letter-spacing: 0.01em;
      margin: 9px 0; }
    .footer .footer-bottom .social-icons {
      display: flex;
      width: 60px;
      justify-content: space-between; }
      .footer .footer-bottom .social-icons img {
        width: 15px; }

/*# sourceMappingURL=style.css.map */
