@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@900&family=Raleway:wght@400;600&display=swap');

$background-main: #1D1C21;

body{
    background-color: $background-main;
    margin: 0;
    padding: 0;
}

#home{
    background: url(./images/home_background.svg) no-repeat;
    background-size: contain;
    height: 811px;
    display: flex;

    .mask{
       background: url(./images/test.svg) no-repeat;
       background-size: contain;
       width: 899px;
       display: flex;
    }

    .mask-color{
        display: flex;
        background-color: rgba(29, 28, 33, 0.7);
        width: 100%;
        position: absolute;
        height: 665px;
    }
    .home-content{
        width: 1156px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    nav{      
        border-bottom: 1px solid #F6F6F6;
        width: 1134px;
        margin-left: auto;
        margin-right: auto;

        ul{
            font-family: Raleway;
            font-style: normal;
            list-style: none;
            color: #F6F6F6;
            font-size: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
            margin-bottom: 10px;

            .contact-a{
               color: #FD0000;
            }
        }
    }

    .winner-part{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 8px;
        align-items: end;

        .social-icons{
            display: flex;
            flex-direction: column;
            margin-right: 10px;
            
            img{
                margin-bottom: 10px;
                margin-top: 10px;
            }
        }
        .logo-column{
            margin-top: 48px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 85px;

            h3{
                font-family: Playfair Display SC;
                font-style: normal;
                font-weight: 900;
                font-size: 18px;
                color: #fff;
                margin-top:0;
                margin-right: 3px;
            }

            button{
                color: #d8d8d9;
                border: 2px solid #d8d8d9;
                box-sizing: border-box;
                font-family: Raleway;
                font-weight: 600;
                font-size: 16px;
                background: none;
                line-height: 19px;
                width: 180px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin-top: 41px;
                margin-right: 3px;
                
                .plus{
                    font-size: 34px;
                    line-height: 40px;
                    font-weight: 300;
                    margin-left: 12px;
                }
            }
        }
    }
}

#artists{
    width: 1134px;
    margin-left: 150px;

    .artists-main{
        display: flex;
        justify-content: space-between;

        .plus-btn{
            color: #FF0e0e;
            border: 1px solid #FF0e0e;
            background: none;
            width: 11.45px;
            height: 11.45px;
            font-size: 14px;
        }
    }
}

#awards{  
    height: 408px;
    background-color: rgba(211, 211, 211, 1);
    .inner-awards{
        height: 408px;
        background: url(./images/awards/background_img.svg) no-repeat;
    }
    .layer{
        display: flex;
        flex-direction: row;
        height: 408px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        align-items: center;
    }
    .award{
        display: flex;

        img{
            margin-right: 15px; 
        }
    }

    button{
        color: #FF0e0e;
        border: 1px solid #FF0e0e;
        background: none;
        width: 11.45px;
        height: 11.45px;
        font-size: 9px;
        padding: 0px;
    }
}

#featured{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    .featured-main{
        display: flex;
    }
    .feature-header{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
}

#about-us{
    background-color: rgba(211, 211, 211, 1);
    height: 430px;
    
    .about-main{
        height: 430px;
        background: url('./images/about_us/background_img.svg');
        display: flex;
    }
    .container{
        display: flex;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .about{
        width: 455px;
    }
    img{
        position: absolute;
        align-self: center;
        left: 45%;
    }
}

#instagram{
    .collection{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .small-col{
        display: flex;
        flex-wrap: wrap;
        img{
            margin-left: 9px;
            margin-bottom: 10px;
        }
    }
    .second-row{
        img{
            margin-right: 9px;
            margin-left: 0;
        }
    }
    .first-row, .second-row{
        display: flex;
    }
}

#contact{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    form{
        display: flex;
        flex-direction: column;
        input{
            background: none;
            border-bottom: 1px solid white;
            border-top: none;
            border-right: none;
            border-left: none;
            padding: 20px;
        }
    }
    .map-section{
        display: flex;
        justify-content: space-between; 
        height: 317px;
        background-color: #C4C4C4;

        h4{
            font-family: Playfair Display SC;
            font-weight: 900;
            font-size: 14px;
            line-height: 19px;
        }

        }
    }


    .footer{      
        width: 1134px;
        margin-left: auto;
        margin-right: auto;

        ul{
            border-bottom: 1px solid #F6F6F6;
            border-top: 1px solid #F6F6F6;
            font-family: Raleway;
            font-style: normal;
            list-style: none;
            color: #F6F6F6;
            font-size: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
            margin-bottom: 10px;
            padding: 20px 0;

            a{
                letter-spacing: 0.01em;
            }
            .contact-a{
               color: #FD0000;
            }
        }

        .footer-bottom{
            color: #89898B;
            font-size: 13px;
            font-family: Raleway;
            font-style: normal;
            display: flex;
            justify-content: space-between;
            p {
                letter-spacing: 0.01em;
                margin: 9px 0;
            }
            .social-icons{
                display: flex;
                width: 60px;
                justify-content: space-between;
                img{
                    width: 15px;
                }
            }

        
        }
    }