@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@900&family=Raleway:wght@400;600&display=swap');

$background-main: #1D1C21;

body{
    background-color: $background-main;
    margin: 0;
    padding: 0;
}

#home{
    background: url('../images/home_background.svg') no-repeat;
    background-size: contain;
    height: 712px;
    display: flex;

    .mask{
       background: url('../images/test.svg') no-repeat;
       background-size: contain;
       width: 906px;
       display: flex;
    }

    .mask-color{
        display: flex;
        background-color: rgba(29, 28, 33, 0.7);
        width: 100%;
        position: absolute;
        height: 670px;
    }
    .home-content{
        width: 1156px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    nav{      
        border-bottom: 1px solid #F6F6F6;
        width: 1134px;
        margin-left: auto;
        margin-right: auto;

        ul{
            font-family: Raleway;
            font-style: normal;
            list-style: none;
            color: #F6F6F6;
            font-size: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
            margin-bottom: 10px;

            .contact-a{
               color: #FD0000;
            }
        }
    }

    .winner-part{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 8px;
        align-items: end;

        .social-icons{
            display: flex;
            flex-direction: column;
            margin-right: 10px;
            
            img{
                margin-bottom: 10px;
                margin-top: 10px;
            }
        }
        .logo-column{
            margin-top: 48px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 85px;

            h3{
                font-family: Playfair Display SC;
                font-style: normal;
                font-weight: 900;
                font-size: 18px;
                color: #fff;
                margin-top:0;
                margin-right: 3px;
            }

            button{
                color: #d8d8d9;
                border: 2px solid #d8d8d9;
                box-sizing: border-box;
                font-family: Raleway;
                font-weight: 600;
                font-size: 16px;
                background: none;
                line-height: 19px;
                width: 180px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin-top: 41px;
                margin-right: 3px;
                
                .plus{
                    font-size: 34px;
                    line-height: 40px;
                    font-weight: 300;
                    margin-left: 12px;
                }
            }
        }
    }
}

#artists{
    width: 1134px;
    margin-left: auto;
    margin-right: auto;
    height: 627px;

    h2{
        font-family: Playfair Display SC;
        font-style: normal;
        font-weight: 900;
        font-size: 58px;
        line-height: 65px;
        color: #89898B;
        letter-spacing: 0.01em;
        margin-bottom: 28px;
    }
    .artists-main{
        display: flex;
        justify-content: space-between;

        .plus-btn{
            color: #FF0e0e;
            border: 1px solid #FF0e0e;
            background: none;
            width: 11.45px;
            height: 11.45px;
            font-size: 14px;
        }

        h3{
            font-family: Playfair Display SC;
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.01em;
            color: #F6F6F6;
            margin:0;
        }
        .read{
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            margin-bottom: 2px;

            span{
                font-family: Raleway;
                font-size: 15px;
                line-height: 18px;
                letter-spacing: 0.01em;
                color: #F6F6F6;
            }

            button{
                color: #FF0e0e;
                border: 1px solid #FF0e0e;
                background: none;
                width: 11.45px;
                height: 11.45px;
                font-size: 9px;
                padding: 0px;
                margin-left: 8px;
                margin-bottom: 2px
            }
            .read-btn{
                align-items: center;
                display: flex;
            }
        }
    }
}

#awards{  
    height: 408px;
    background-color: rgba(211, 211, 211, 1);
    .inner-awards{
        height: 408px;
        background: url('../images/awards/background_img.svg') no-repeat;
    }
    .layer{
        display: flex;
        flex-direction: row;
        height: 408px;
        margin-left: 145px;
        margin-right: 51px;    
        justify-content: space-between;
        align-items: center;
    }
    .award, .award-middle{
        display: flex;
        margin-top: 2px;
        img{
            margin-right: 15px; 
            margin-bottom: 25px;
        }
        .img-right{
            margin-bottom: 18px;
        }
        .award-text{
            margin-top: 14px;

            div{
                margin-top: 7px;
            }
        }    
        h3{
            font-family: Playfair Display SC;
            color: #1D1C21;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.01em;
            margin: 0;
        }
        p{
            font-family: Raleway;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.01em;
            color: #1D1C21;
            width: 80%;
            margin: 0;
        }
        span{
            font-family: Raleway;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.01em;
            color: #FF0E0E;

        }
    }
    .award-middle{
        margin-left: 118px;
        p{
            width: 65%;
        }
    }

    button{
        color: #FF0e0e;
        border: 1px solid #FF0e0e;
        background: none;
        width: 11.45px;
        height: 11.45px;
        font-size: 9px;
        padding: 0px;
        margin-left: 8px;
        margin-bottom: 5px;
    }
    .learn{
        display: flex;
        align-items: flex-end;
    }
}

#featured{
    width: 1134px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 178px;

    h2{
        margin-top: 85px;
        font-family: Playfair Display SC;
        font-weight: 900;
        font-size: 57px;
        line-height: 81px;
        color: #89898B;
        letter-spacing: 0.01em;
        margin-bottom: 0px;
    }
    h3{
        font-family: Playfair Display SC;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: #F6F6F6;
        margin-bottom: 0px;
    }
    .read{

            span{
                font-family: Raleway;
                font-size: 15px;
                line-height: 18px;
                letter-spacing: 0.01em;
                color: #F6F6F6;
            }

            button{
                color: #FF0e0e;
                border: 1px solid #FF0e0e;
                background: none;
                width: 11.45px;
                height: 11.45px;
                font-size: 9px;
                padding: 0px;
                margin-left: 8px;
                margin-bottom: 2px
            }
    }
    .featured-main{
        display: flex;
    }
    .feature-header{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: -4px;
    }
     .col-img{
        margin-right: 26px;
    }
    .right-col{
        margin-right: 30px;
        div{
            margin-top: 48px;
        }
    }

    .left-col{
        margin-top: 22px;
    }
}

#about-us{
    background-color: rgba(211, 211, 211, 1);
    height: 430px;
    h2{
        font-family: Playfair Display SC;
        font-weight: 900;
        font-size: 55px;
        letter-spacing: 0.05em;
        color: #89898B;
        margin: 0;
    }

    p {
        font-family: Raleway;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.01em;
        color: #1D1C21;
        margin: 0;
    }
    .paragraphs{
        display: flex;
        flex-direction: column;
        margin-top: 3px;
        .paragraph-1{
            padding: 18px 0;
        }
    }
    .about-main{
        height: 430px;
        background: url('../images/about_us/background_img.svg') no-repeat;
        display: flex;
    }
    .container{
        display: flex;
        width: 1134px;
        margin-left: auto;
        margin-right: auto;
    }
    .about{
        width: 455px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    img{
        position: absolute;
        align-self: center;
        left: 632px;
    }
}

#instagram{
    .collection{
        width: 1134px;
        margin-left: auto;
        margin-right: auto;
    }
    h2{
        font-family: Playfair Display SC;
        font-weight: 900;
        font-size: 56px;
        line-height: 81px;
        color: #89898B;
        text-align: center;
        margin-top: 84px;
        margin-bottom: 22px;
        letter-spacing: 0.02em;
    }
    .small-col{
        display: flex;
        flex-wrap: wrap;
        img{
            margin-left: 11px;
            margin-bottom: 10px;
        }
    }
    .second-row{
        .small-col{
            img{
            margin-right: 11px;
            margin-left: 0px;
            }
        }
        .big-col{
            img{
                margin-left: 0;
            }
        }
    }
    .first-row, .second-row{
        display: flex;
    }

    .show-btn{
        width: 97px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        span{
            font-family: Raleway;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.01em;
            color: #F6F6F6;
        }

        button{
            color: #FF0e0e;
            border: 1px solid #FF0e0e;
            background: none;
            width: 11.45px;
            height: 11.45px;
            font-size: 9px;
            padding: 0px;
            margin-left: 3px;
            margin-bottom: 2px
        }
    }
}

#contact{
    width: 1134px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 80px;
    margin-top: 81px;

    h3{
        font-family: Playfair Display SC;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.01em;
        color: #F6F6F6;
        margin-bottom: 19px;

    }
    label{
        font-family: Raleway;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.01em;
        color: #F6F6F6;
    }
    form{
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
        width: 540px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 19px;

        .upload{
            display: flex;
            justify-content: center;
            .upload-btn{
                overflow: hidden;
                white-space: nowrap;
                position: absolute;
                border: 0;
                clip: rect(0, 0, 0, 0);
                height: 1px;
                width: 1px;
            }
            .upload-btn + label{
                display: inline-block;
            }
            label{
                cursor: pointer;
                background: url(../images/upload.svg) no-repeat;
                background-position: 136px;
                padding: 33px;
                font-family: Raleway;
                font-size: 15px;
                letter-spacing: 0.01em;
                color: #F6F6F6;
                padding-right: 43px;
                padding-left: 33px;
            }

        }
        input, select, textarea{
            background: none;
            border-bottom: 1px solid #36353D;
            border-top: none;
            border-right: none;
            border-left: none;
            padding: 6px 0 9px 17px;
            font-family: Raleway;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.01em;
            color: #36353D;

        }
        textarea{
            padding: 5px 0 48px 26px;
        }
        select{
            padding: 6px 0 9px 22px;
        }
        option{
            background-color: #1D1C21;
            border-bottom: 1px solid #36353D;
        }
        .select-label{
            margin-top: 27px;
        }

        button{
            color: #d8d8d9;
            border: 2px solid #d8d8d9;
            box-sizing: border-box;
            font-family: Raleway;
            font-weight: 600;
            font-size: 16px;
            background: none;
            line-height: 19px;
            width: 180px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 8px;
            align-self: center;
            
            .plus{
                font-size: 34px;
                line-height: 40px;
                font-weight: 300;
                margin-left: 12px;
            }
        }
    }
    .map-section{
        display: flex;
        justify-content: space-between; 
        height: 317px;
        background-color: #C4C4C4;
        margin-top: 80px;


        .social-icons{
            width: 22%;
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
             img{
                 width: 20px;
             
            }
        }

        .map-info{
            width: 26%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            div{
                margin-top: 12px;
            }
        }

        h4{
            font-family: Playfair Display SC;
            font-weight: 900;
            font-size: 14px;
            line-height: 19px;
            letter-spacing: 0.01em;
            margin: 0;
            color: #1D1C21;
        }
        p{
            font-family: Raleway;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.01em;
            margin: 0;
            color: #1D1C21;
        }
        }
    }


    .footer{      
        width: 1134px;
        margin-left: auto;
        margin-right: auto;

        ul{
            border-bottom: 1px solid #F6F6F6;
            border-top: 1px solid #F6F6F6;
            font-family: Raleway;
            font-style: normal;
            list-style: none;
            color: #F6F6F6;
            font-size: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
            margin-bottom: 10px;
            padding: 20px 0;

            a{
                letter-spacing: 0.01em;
            }
            .contact-a{
               color: #FD0000;
            }
        }

        .footer-bottom{
            color: #89898B;
            font-size: 13px;
            font-family: Raleway;
            font-style: normal;
            display: flex;
            justify-content: space-between;
            p {
                letter-spacing: 0.01em;
                margin: 9px 0;
            }
            .social-icons{
                display: flex;
                width: 60px;
                justify-content: space-between;
                img{
                    width: 15px;
                }
            }

        
        }
    }

@media only screen and (min-width: 1441px) {
        #home{
            background-size: cover;
            height: 664px;
        }    

        #awards{
            .inner-awards{
                background-size: cover;
            }
            .layer{
                margin-left: auto;
                margin-right: auto;
                width: 60%;
            }
            .award, .award-middle{
                width: 33%;
                justify-content: center;
            }
            .award-middle{
                margin: 0;
            }
        }
        #about-us{
            .about-main{
                background-size: cover;
            }
            .container{
                position: relative;
            }

            img{
                left: 43%;
            }
        }
}