@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@900&family=Raleway:wght@400;600&display=swap');
@import './helpers/mixins';
@import "./helpers/variables";
@import "./helpers/lightbox";
@import "./sections/home";


body{
    background-color: $background-main;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}


#artists{
    width: 1134px;
    margin-left: auto;
    margin-right: auto;
    height: 627px;

    h2{
        font-family: Playfair Display SC;
        font-style: normal;
        font-weight: 900;
        font-size: 58px;
        line-height: 65px;
        color: #89898B;
        letter-spacing: 0.01em;
        margin-bottom: 28px;
    }
    .artists-main{
        display: flex;
        justify-content: space-between;

        .plus-btn{
            color: #FF0e0e;
            border: 1px solid #FF0e0e;
            background: none;
            width: 11.45px;
            height: 11.45px;
            font-size: 14px;
        }

        h3{
            font-family: Playfair Display SC;
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.01em;
            color: #F6F6F6;
            margin:0;
        }
        .read{
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            margin-bottom: 2px;

            span{
                font-family: Raleway;
                font-size: 15px;
                line-height: 18px;
                letter-spacing: 0.01em;
                color: #F6F6F6;
            }

            a{
                color: #FF0e0e;
                border: 1px solid #FF0e0e;
                background: none;
                width: 11.45px;
                height: 11.45px;
                font-size: 9px;
                padding: 0px;
                margin-left: 8px;
                margin-bottom: 2px;
                text-align: center;
            }
            .read-btn{
                align-items: center;
                display: flex;
            }
        }
    }
}

#awards{  
    height: 408px;
    background-color: rgba(211, 211, 211, 1);
    .inner-awards{
        height: 408px;
        background: url('../images/awards/background_img.svg') no-repeat;
    }
    .layer{
        display: flex;
        flex-direction: row;
        height: 408px;
        margin-left: 145px;
        margin-right: 51px;    
        justify-content: space-between;
        align-items: center;
    }
    .award, .award-middle{
        display: flex;
        margin-top: 2px;
        img{
            margin-right: 15px; 
            margin-bottom: 25px;
        }
        .img-right{
            margin-bottom: 18px;
        }
        .award-text{
            margin-top: 14px;

            div{
                margin-top: 7px;
            }
        }    
        h3{
            font-family: Playfair Display SC;
            color: $background-main;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.01em;
            margin: 0;
        }
        p{
            font-family: Raleway;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.01em;
            color: $background-main;
            width: 80%;
            margin: 0;
        }
        span{
            font-family: Raleway;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.01em;
            color: #FF0E0E;

        }
        a{
            color: #FF0e0e;
            border: 1px solid #FF0e0e;
            background: none;
            width: 11.45px;
            height: 11.45px;
            font-size: 9px;
            padding: 0px;
            margin-left: 8px;
            margin-bottom: 4px;
            text-align: center;
        }
    }
    .award-middle{
        margin-left: 118px;
        p{
            width: 65%;
        }
    }
    .learn{
        display: flex;
        align-items: flex-end;
    }
}

#featured{
    width: 1134px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 178px;
    img{
        cursor: pointer;
    }
    h2{
        margin-top: 85px;
        font-family: Playfair Display SC;
        font-weight: 900;
        font-size: 57px;
        line-height: 81px;
        color: #89898B;
        letter-spacing: 0.01em;
        margin-bottom: 0px;
    }
    h3{
        font-family: Playfair Display SC;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: #F6F6F6;
        margin-bottom: 0px;
    }
    .read{
        display: flex;
            span{
                font-family: Raleway;
                font-size: 15px;
                line-height: 18px;
                letter-spacing: 0.01em;
                color: #F6F6F6;
            }

            a{
                color: #FF0e0e;
                border: 1px solid #FF0e0e;
                background: none;
                width: 11.45px;
                height: 11.45px;
                font-size: 9px;
                padding: 0px;
                margin-left: 8px;
                margin-bottom: 4px;
                text-align: center;
            }
    }
    .featured-main{
        display: flex;
    }
    .feature-header{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: -4px;
    }
     .col-img{
        margin-right: 26px;
    }
    .right-col{
        margin-right: 30px;
        div{
            margin-top: 48px;
        }
    }

    .left-col{
        margin-top: 22px;
    }
}

#about-us{
    background-color: rgba(211, 211, 211, 1);
    height: 430px;
    h2{
        font-family: Playfair Display SC;
        font-weight: 900;
        font-size: 55px;
        letter-spacing: 0.05em;
        color: #89898B;
        margin: 0;
    }

    p {
        font-family: Raleway;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.01em;
        color: $background-main;
        margin: 0;
    }
    .paragraphs{
        display: flex;
        flex-direction: column;
        margin-top: 3px;
        .paragraph-1{
            padding: 18px 0;
        }
    }
    .about-main{
        height: 430px;
        background: url('../images/about_us/background_img.svg') no-repeat;
        display: flex;
    }
    .container{
        display: flex;
        width: 1134px;
        margin-left: auto;
        margin-right: auto;
    }
    .about{
        width: 455px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    img{
        position: absolute;
        align-self: center;
        left: 632px;
    }
}

#instagram{
    .collection{
        width: 1134px;
        margin-left: auto;
        margin-right: auto;
    }
    h2{
        font-family: Playfair Display SC;
        font-weight: 900;
        font-size: 56px;
        line-height: 81px;
        color: #89898B;
        text-align: center;
        margin-top: 84px;
        margin-bottom: 22px;
        letter-spacing: 0.02em;
    }
    .small-col{
        display: flex;
        flex-wrap: wrap;
        img{
            margin-left: 11px;
            margin-bottom: 10px;
        }
    }
    .second-row{
        .small-col{
            img{
            margin-right: 11px;
            margin-left: 0px;
            }
        }
        .big-col{
            img{
                margin-left: 0;
            }
        }
    }
    .first-row, .second-row{
        display: flex;
    }

    .show-btn{
        width: 101px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        display: flex;
        span{
            font-family: Raleway;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.01em;
            color: #F6F6F6;
        }

        a{
            color: #FF0e0e;
            border: 1px solid #FF0e0e;
            background: none;
            width: 11.45px;
            height: 11.45px;
            font-size: 9px;
            padding: 0px;
            margin-left: 8px;
            margin-bottom: 2px;
            text-align: center;
        }
    }
}

#contact{
    width: 1134px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 80px;
    margin-top: 81px;

    h3{
        font-family: Playfair Display SC;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.01em;
        color: #F6F6F6;
        margin-bottom: 19px;

    }
    label{
        font-family: Raleway;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.01em;
        color: #F6F6F6;
    }
    form{
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
        width: 540px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 19px;

        .upload{
            display: flex;
            justify-content: center;
            .upload-btn{
                overflow: hidden;
                white-space: nowrap;
                position: absolute;
                border: 0;
                clip: rect(0, 0, 0, 0);
                height: 1px;
                width: 1px;
            }
            .upload-btn + label{
                display: inline-block;
            }
            label{
                cursor: pointer;
                background: url(../images/upload.svg) no-repeat;
                background-position: 136px;
                padding: 33px;
                font-family: Raleway;
                font-size: 15px;
                letter-spacing: 0.01em;
                color: #F6F6F6;
                padding-right: 43px;
                padding-left: 33px;
            }

        }
        input, select, textarea{
            background: none;
            border-bottom: 1px solid #36353D;
            border-top: none;
            border-right: none;
            border-left: none;
            padding: 6px 0 9px 17px;
            font-family: Raleway;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.01em;
            color: #36353D;

        }
        textarea{
            padding: 5px 0 48px 26px;
        }
        select{
            padding: 6px 0 9px 22px;
        }
        option{
            background-color: $background-main;
            border-bottom: 1px solid #36353D;
        }
        .select-label{
            margin-top: 27px;
        }

        button{
            color: #d8d8d9;
            border: 2px solid #d8d8d9;
            box-sizing: border-box;
            font-family: Raleway;
            font-weight: 600;
            font-size: 16px;
            background: none;
            line-height: 19px;
            width: 180px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 8px;
            align-self: center;
            
            .plus{
                font-size: 34px;
                line-height: 40px;
                font-weight: 300;
                margin-left: 12px;
            }
        }
    }
    .map-section{
        display: flex;
        justify-content: space-between; 
        height: 317px;
        background-color: #C4C4C4;
        margin-top: 80px;


        .social-icons{
            width: 22%;
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
             img{
                 width: 20px;
             
            }
        }

        .map-info{
            width: 26%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            div{
                margin-top: 12px;
            }
        }

        h4{
            font-family: Playfair Display SC;
            font-weight: 900;
            font-size: 14px;
            line-height: 19px;
            letter-spacing: 0.01em;
            margin: 0;
            color: $background-main;
        }
        p{
            font-family: Raleway;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.01em;
            margin: 0;
            color: $background-main;
        }
        }
    }


    .footer{      
        width: 1134px;
        margin-left: auto;
        margin-right: auto;

        ul{
            border-bottom: 1px solid #F6F6F6;
            border-top: 1px solid #F6F6F6;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
            margin-bottom: 10px;
            padding: 20px 0;

            a{
                letter-spacing: 0.01em;
                font-family: Raleway;
                color: #F6F6F6;
                font-size: 15px;
                text-decoration: none;
            }
            a:hover{
                color: #FF0E0E;
            }
        }

        .footer-bottom{
            color: #89898B;
            font-size: 13px;
            font-family: Raleway;
            font-style: normal;
            display: flex;
            justify-content: space-between;
            p {
                letter-spacing: 0.01em;
                margin: 9px 0;
            }
            .social-icons{
                display: flex;
                width: 60px;
                justify-content: space-between;
                img{
                    width: 15px;
                }
            }

        
        }
    }

@media only screen and (min-width: 1441px) {
        #home{
            background-size: cover;
            height: 664px;

            .mask-color{
                height: 664px;
            }
        }    

        #awards{
            .inner-awards{
                background-size: cover;
            }
            .layer{
                margin-left: auto;
                margin-right: auto;
                width: 60%;
            }
            .award, .award-middle{
                width: 33%;
                justify-content: center;
            }
            .award-middle{
                margin: 0;
            }
        }
        #about-us{
            .about-main{
                background-size: cover;
            }
            .container{
                position: relative;
            }

            img{
                left: 43%;
            }
        }
}

@media only screen and (max-width: 1439px) and (min-width: 1024px) {
    #home{
        background-size: cover;
        height: 664px;
        .mask-color{
            height: 664px;
        }
        .home-content{
            width: 90%;
        }
        nav{
            width: 100%;
        }
    }   
    #artists{
        width: 90%;
        img{
            width: 200px;
        }
        h3{
            font-size: 20px!important;
        }
    }

    #awards{
        .inner-awards{
            background-size: cover;
        }
        .layer{
            margin-left: auto;
            margin-right: auto;
            width: 96%;
        }
        .award, .award-middle{
            width: 32%;
            justify-content: center;
        }
        .award-middle{
            margin: 0;
            p{
                width: 100%;
            }
        }
    }
    #featured {
        width: 90%;

        img{
            width:200px; 
        }
    }

    #about-us{
        img{
            left: 43%;
            width: 500px;
        }
        .container{
            width: 90%;
            position: relative;
        }
        .about{
            width: 385px;
            p{
                font-size: 13px;
            }
        }
    }
    #instagram{
        .collection{
            width: 866px;
            display: flex;
            flex-direction: column;
        }
        .big-col{
            display: none;
        }
        .small-col{
            justify-content: center;
            img{
                margin-left: 15px;
                margin-right: 0;
            }
        }

    }
    #contact{
        width: 90%;
    }

    footer{
        width: 90%!important;
        .footer-bottom{
            font-size: 11px!important;
        }
    } 
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    #home{
        background-size: cover;
        height: 664px;
        .mask-color{
            height: 664px;
        }
        .home-content{
            width: 95%;
        }
        nav{
            width:100%;
            li{
                font-size: 12px;
            }
        }
        .logo-column{
            margin-right: 25px!important;
        }
    }   
    #artists{
        width: 90%;
        img{
            width: 150px;
        }
        .read{
            flex-direction: column;
        }
        .artists-main{
            div{
                width: 90%;
            }
        }
    }

    #awards{
        .inner-awards{
            background-size: cover;
        }
        .layer{
            margin-left: auto;
            margin-right: auto;
            width: 96%;
        }
        .award, .award-middle{
            width: 32%;
            justify-content: center;
            img{
                width: 25%;
            }
        }
        .award-text{
            h3{
                font-size: 14px;
            }
            p{
                font-size: 12px;
            }
        }
        .award-middle{
            margin: 0;
            p{
                width: 100%;
            }
        }
    }
    #featured {
        width: 90%;

        .featured-main{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .right-col{
            margin-right: 0;
        }
    }

    #about-us{
        img{
            display: none;
        }
        .container{
            width: 80%;
            position: relative;
        }
        .about{
            width: 385px;
            p{
                font-size: 13px;
            }
        }
    }
    #instagram{
        h2{
            font-size: 36px;
        }
        .collection{
            width: 760px;
            display: flex;
            flex-direction: column;
        }
        .big-col{
            display: none;
        }
        .small-col{
            justify-content: center;
            img{
                margin-left: 15px!important;
                margin-right: 0!important;
            }
        }

    }
    #contact{
        width: 80%;
        .map-section{
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            flex-direction: column;
            height: 568px;
        }
        .map-info{
            width: 70%!important;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px!important;
        }
        h4{
            font-size: 12px!important;
        }
        p{
            font-size: 13px!important;
        }
    }

    footer{
        width: 95%!important;
        ul{
            font-size: 13px!important;
        }
        .footer-bottom{
            font-size: 11px!important;
        }
    } 
}

@media only screen and (max-width: 767px){
    .mask .mask-color, #home, .home-content{
        background: none;
        width: 100%;
        margin-top: 0!important;
    }
 #home{
     height: 900px;
     nav{
         width: 100%;
         border-bottom: none;
         
         ul{
             flex-direction: column;
             width: 100%;
             align-items: center;
         }
         li{
            border-bottom: 1px solid #F6F6F6;
            padding: 10px 0;
            width: 100%;
            text-align: center;
         }
     }
     .winner-part{
         img{
             display: none;
         }
         .logo-column{
             margin-left: auto;
             margin-right: auto;
             img{
                 display: block;
             }
         }
     }
 }

 #artists{
     width: 90%;
     height: 100%;
     margin-bottom: 20px;
     h2{
         text-align: center;
         font-size: 48px;   
     }
     .artists-main{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
     }
 }
 #awards{
     height: 100%;
     .inner-awards{
         background: none;
         height: 100%;
     }
     .layer{
        flex-wrap: wrap;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding: 15px 0;
        height: 100%;
     }
     .award, .award-middle{
        width: 100%;
     }
     .award-middle{
         margin-left: 0;
     }
 }
 #featured{
     width: 85%;
     h2{
         font-size: 36px;
     }
    .feature-header{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
    }
    .featured-main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .right-col{
        margin-right: 0;
    }
    .works-img, .left-col{
        width: 50%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 0px;
    }
    img{
        margin-top: 5px;
        margin-bottom: 5px;
    }
 }
 
 #about-us{
     width: 100%;
     height: 100%;
     img{
         display: none;
     }
     .about{
         width: 50%;
         margin-left: auto;
         margin-right: auto;
     }
     h2{
        font-size: 24px;
     }
     p{
         font-size: 14px;
     }
 }
 #instagram{
    h2{
        font-size: 24px;
    }
    .collection{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .big-col{
        display: none;
    }
    .small-col{
        justify-content: center;
        img{
            margin-left: 5px!important;
            margin-right: 0!important;
        }
    }
}
#contact{
    width: 90%;
    img{
        display: none;
    }
    form{
        width: 80%;
    }
    .map-info{
        width: 60%!important;
    }
    .map-section{
        height: 100%;
    }
}
 footer {
     width: 90%!important;
     ul{
     display: none!important;
     }
     .footer-bottom{
        display: flex;
        flex-direction: column;
        padding: 10px 0;
     }
 }
}