@import "../helpers/mixins";
@import "../helpers/variables";

.about-us-section {
  background-color: rgba(211, 211, 211, 1);
  height: 430px;

  h2 {
    @include font(55px, Playfair Display SC, $font-gray);

    font-weight: 900;
    letter-spacing: 0.05em;
    margin: 0;
  }

  p {
    @include font(15px, Raleway, $background-main);

    line-height: 18px;
    letter-spacing: 0.01em;
    margin: 0;
  }

  .paragraphs {
    @include flex-col;

    margin-top: 3px;

    .paragraph-1 {
      padding: 18px 0;
    }
  }

  .about-main {
    height: 430px;
    background: url('../images/about_us/background_img.svg') no-repeat;
    display: flex;
  }

  .container {
    @include margin-auto;

    display: flex;
    width: 1134px;
  }

  .about {
    @include flex-col;

    width: 455px;
    justify-content: center;
  }

  img {
    position: absolute;
    align-self: center;
    left: 632px;
  }
}
