@import "../helpers/mixins";
#home{
    background: url('../images/home_background.svg') no-repeat;
    background-size: contain;
    height: 712px;
    display: flex;

    .mask{
       background: url('../images/test.svg') no-repeat;
       background-size: contain;
       width: 906px;
       display: flex;
    }

    .mask-color{
        display: flex;
        background-color: rgba(29, 28, 33, 0.7);
        width: 100%;
        position: absolute;
        height: 670px;
    }

    .home-content{
        width: 1156px;
        @include margin-auto;
        margin-top: 20px;
    }

    nav{      
        border-bottom: 1px solid #F6F6F6;
        width: 1134px;
        @include margin-auto;

        ul{
            list-style: none;
            @include flex-row; 
            justify-content: space-between;
            padding: 0;
            margin-bottom: 10px;
        }
        a{
            font-family: Raleway;
            color: #F6F6F6;
            font-size: 15px;
            text-decoration: none;
        }
        a:hover{
            color: #FF0E0E;
        }
    }

    .winner-part{
        @include flex-row; 
        justify-content: space-between;
        margin-top: 8px;
        align-items: end;

        .social-icons{
            @include flex-col; 
            margin-right: 10px;
            
            img{
                margin-bottom: 10px;
                margin-top: 10px;
            }
        }
        .logo-column{
            margin-top: 48px;
            @include flex-col; 
            align-items: center;
            margin-right: 85px;

            h3{
                font-family: Playfair Display SC;
                font-style: normal;
                font-weight: 900;
                font-size: 18px;
                color: #fff;
                margin-top:0;
                margin-right: 3px;
            }

            .btn{
                color: #d8d8d9;
                border: 2px solid #d8d8d9;
                box-sizing: border-box;
                font-family: Raleway;
                font-weight: 600;
                font-size: 16px;
                background: none;
                line-height: 19px;
                width: 180px;
                @include flex-row; 
                align-items: center;
                justify-content: center;
                margin-top: 41px;
                margin-right: 3px;
                text-decoration: none;
                
                .plus{
                    font-size: 34px;
                    line-height: 40px;
                    font-weight: 300;
                    margin-left: 12px;
                }
            }
        }
    }
}