@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@900&family=Raleway:wght@400;600&display=swap");
#lightbox {
  position: fixed;
  display: none;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(211, 211, 211, 0.6); }
  #lightbox div {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center; }
  #lightbox.active .close-btn {
    position: absolute;
    border: none;
    cursor: pointer; }

.home-section {
  background: url("../images/home_background.svg") no-repeat;
  background-size: contain;
  display: flex;
  height: 712px; }
  .home-section .mask {
    display: flex;
    background: url("../images/test.svg") no-repeat;
    background-size: contain;
    width: 906px; }
  .home-section .mask-color {
    background-color: rgba(29, 28, 33, 0.7);
    display: flex;
    height: 670px;
    position: absolute;
    width: 100%; }
  .home-section .home-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 1156px; }
  .home-section nav {
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #f6f6f6;
    width: 1134px; }
    .home-section nav ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;
      margin-bottom: 10px;
      padding: 0; }
    .home-section nav a {
      font-family: Raleway;
      color: #f6f6f6;
      font-size: 15px; }
    .home-section nav a:hover {
      color: #ff0e0e; }
  .home-section .winner-part {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    margin-top: 8px; }
    .home-section .winner-part .social-icons {
      display: flex;
      flex-direction: column;
      margin-right: 10px; }
      .home-section .winner-part .social-icons img {
        margin: 10px 0; }
    .home-section .winner-part .logo-column {
      display: flex;
      flex-direction: column;
      margin-top: 48px;
      align-items: center;
      margin-right: 85px; }
      .home-section .winner-part .logo-column h3 {
        font-family: Playfair Display SC;
        color: #fff;
        font-size: 18px;
        font-weight: 900;
        margin-right: 3px;
        margin-top: 0; }
      .home-section .winner-part .logo-column .btn {
        font-family: Raleway;
        color: #d8d8d9;
        font-size: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background: none;
        border: 2px solid #d8d8d9;
        font-weight: 600;
        justify-content: center;
        line-height: 19px;
        margin-right: 3px;
        margin-top: 41px;
        width: 180px; }
        .home-section .winner-part .logo-column .btn .plus {
          font-size: 34px;
          font-weight: 300;
          line-height: 40px;
          margin-left: 12px; }

.artists-section {
  margin-left: auto;
  margin-right: auto;
  height: 627px;
  width: 1134px; }
  .artists-section h2 {
    font-family: Playfair Display SC;
    color: #89898b;
    font-size: 58px;
    font-weight: 900;
    line-height: 65px;
    letter-spacing: 0.01em;
    margin-bottom: 28px; }
  .artists-section .artists-main {
    display: flex;
    justify-content: space-between; }
    .artists-section .artists-main .plus-btn {
      font-family: Raleway;
      color: #ff0e0e;
      font-size: 14px;
      border: 1px solid #ff0e0e;
      background: none;
      width: 11.45px;
      height: 11.45px; }
    .artists-section .artists-main h3 {
      font-family: Playfair Display SC;
      color: #f6f6f6;
      font-size: 24px;
      font-weight: 900;
      line-height: 32px;
      letter-spacing: 0.01em;
      margin: 0; }
    .artists-section .artists-main .read {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 2px; }
      .artists-section .artists-main .read span {
        font-family: Raleway;
        color: #f6f6f6;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.01em; }
      .artists-section .artists-main .read a {
        font-family: Raleway;
        color: #f6f6f6;
        font-size: 11px;
        border: 1px solid #f6f6f6;
        background: none;
        width: 11.45px;
        height: 11.45px;
        padding: 0;
        margin-left: 8px;
        text-align: center;
        font-weight: 600;
        margin-bottom: 2px; }
      .artists-section .artists-main .read a:hover {
        color: #ff0e0e;
        border-color: #ff0e0e; }
      .artists-section .artists-main .read .read-btn {
        align-items: center;
        display: flex; }

.awards-section {
  height: 408px;
  background-color: lightgray; }
  .awards-section .inner-awards {
    height: 408px;
    background: url("../images/awards/background_img.svg") no-repeat; }
  .awards-section .layer {
    display: flex;
    flex-direction: row;
    height: 408px;
    margin-left: 145px;
    margin-right: 51px;
    justify-content: space-between;
    align-items: center; }
  .awards-section .award,
  .awards-section .award-middle {
    display: flex;
    margin-top: 2px; }
    .awards-section .award img,
    .awards-section .award-middle img {
      margin-right: 15px;
      margin-bottom: 25px; }
    .awards-section .award .img-right,
    .awards-section .award-middle .img-right {
      margin-bottom: 18px; }
    .awards-section .award .award-text,
    .awards-section .award-middle .award-text {
      margin-top: 14px; }
      .awards-section .award .award-text div,
      .awards-section .award-middle .award-text div {
        margin-top: 7px; }
    .awards-section .award h3,
    .awards-section .award-middle h3 {
      font-family: Playfair Display SC;
      color: #1d1c21;
      font-size: 24px;
      font-weight: 900;
      line-height: 32px;
      letter-spacing: 0.01em;
      margin: 0; }
    .awards-section .award p,
    .awards-section .award-middle p {
      font-family: Raleway;
      color: #1d1c21;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.01em;
      width: 80%;
      margin: 0; }
    .awards-section .award span,
    .awards-section .award-middle span {
      font-family: Raleway;
      color: #1d1c21;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.01em; }
    .awards-section .award a,
    .awards-section .award-middle a {
      font-family: Raleway;
      color: #1d1c21;
      font-size: 11px;
      border: 1px solid #1d1c21;
      background: none;
      width: 11.45px;
      height: 11.45px;
      padding: 0;
      margin-left: 8px;
      text-align: center;
      font-weight: 600;
      margin-bottom: 4px; }
    .awards-section .award a:hover,
    .awards-section .award-middle a:hover {
      color: #ff0e0e;
      border-color: #ff0e0e; }
  .awards-section .award-middle {
    margin-left: 118px; }
    .awards-section .award-middle p {
      width: 65%; }
  .awards-section .learn {
    display: flex;
    align-items: flex-end; }

.featured-section {
  margin-left: auto;
  margin-right: auto;
  width: 1134px;
  padding-bottom: 178px; }
  .featured-section img {
    cursor: pointer; }
  .featured-section h2 {
    font-family: Playfair Display SC;
    color: #89898b;
    font-size: 57px;
    margin-top: 85px;
    font-weight: 900;
    line-height: 81px;
    letter-spacing: 0.01em;
    margin-bottom: 0; }
  .featured-section h3 {
    font-family: Playfair Display SC;
    color: #f6f6f6;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: 0.01em;
    margin-bottom: 0; }
  .featured-section .read {
    display: flex; }
    .featured-section .read span {
      font-family: Raleway;
      color: #f6f6f6;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.01em; }
    .featured-section .read a {
      font-family: Raleway;
      color: #f6f6f6;
      font-size: 11px;
      border: 1px solid #f6f6f6;
      background: none;
      width: 11.45px;
      height: 11.45px;
      padding: 0;
      margin-left: 8px;
      text-align: center;
      font-weight: 600;
      margin-bottom: 4px; }
    .featured-section .read a:hover {
      color: #ff0e0e;
      border-color: #ff0e0e; }
  .featured-section .featured-main {
    display: flex; }
  .featured-section .feature-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: -4px; }
  .featured-section .col-img {
    margin-right: 26px; }
  .featured-section .right-col {
    margin-right: 30px; }
    .featured-section .right-col div {
      margin-top: 48px; }
  .featured-section .left-col {
    margin-top: 22px; }

.about-us-section {
  background-color: lightgray;
  height: 430px; }
  .about-us-section h2 {
    font-family: Playfair Display SC;
    color: #89898b;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 0.05em;
    margin: 0; }
  .about-us-section p {
    font-family: Raleway;
    color: #1d1c21;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;
    margin: 0; }
  .about-us-section .paragraphs {
    display: flex;
    flex-direction: column;
    margin-top: 3px; }
    .about-us-section .paragraphs .paragraph-1 {
      padding: 18px 0; }
  .about-us-section .about-main {
    height: 430px;
    background: url("../images/about_us/background_img.svg") no-repeat;
    display: flex; }
  .about-us-section .container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 1134px; }
  .about-us-section .about {
    display: flex;
    flex-direction: column;
    width: 455px;
    justify-content: center; }
  .about-us-section img {
    position: absolute;
    align-self: center;
    left: 632px; }

.instagram-section .collection {
  margin-left: auto;
  margin-right: auto;
  width: 1134px; }
.instagram-section h2 {
  font-family: Playfair Display SC;
  color: #89898b;
  font-size: 56px;
  font-weight: 900;
  line-height: 81px;
  text-align: center;
  margin-top: 84px;
  margin-bottom: 22px;
  letter-spacing: 0.02em; }
.instagram-section .small-col {
  display: flex;
  flex-wrap: wrap; }
  .instagram-section .small-col img {
    margin-left: 11px;
    margin-bottom: 10px; }
.instagram-section .second-row .small-col img {
  margin-right: 11px;
  margin-left: 0; }
.instagram-section .second-row .big-col img {
  margin-left: 0; }
.instagram-section .first-row,
.instagram-section .second-row {
  display: flex; }
.instagram-section .show-btn {
  margin-left: auto;
  margin-right: auto;
  width: 101px;
  margin-top: 20px;
  display: flex; }
  .instagram-section .show-btn span {
    font-family: Raleway;
    color: #f6f6f6;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em; }
  .instagram-section .show-btn a {
    font-family: Raleway;
    color: #f6f6f6;
    font-size: 11px;
    border: 1px solid #f6f6f6;
    background: none;
    width: 11.45px;
    height: 11.45px;
    padding: 0;
    margin-left: 8px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 2px; }
  .instagram-section .show-btn a:hover {
    color: #ff0e0e;
    border-color: #ff0e0e; }

.contact-section {
  margin-left: auto;
  margin-right: auto;
  width: 1134px;
  margin-bottom: 80px;
  margin-top: 81px; }
  .contact-section h3 {
    font-family: Playfair Display SC;
    color: #f6f6f6;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.01em;
    margin-bottom: 19px; }
  .contact-section label {
    font-family: Raleway;
    color: #f6f6f6;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em; }
  .contact-section form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    width: 540px; }
    .contact-section form .upload {
      display: flex;
      justify-content: center; }
      .contact-section form .upload .upload-btn {
        overflow: hidden;
        white-space: nowrap;
        position: absolute;
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        width: 1px; }
      .contact-section form .upload label {
        font-family: Raleway;
        color: #f6f6f6;
        font-size: 15px;
        cursor: pointer;
        background: url(../images/upload.svg) no-repeat;
        background-position: 136px;
        padding: 33px 43px 33px 33px;
        letter-spacing: 0.01em; }
      .contact-section form .upload .upload-btn + label {
        display: inline-block; }
    .contact-section form input,
    .contact-section form select,
    .contact-section form textarea {
      font-family: Raleway;
      color: #36353d;
      font-size: 15px;
      background: none;
      border-bottom: 1px solid #36353d;
      border-top: none;
      border-right: none;
      border-left: none;
      padding: 6px 0 9px 17px;
      line-height: 18px;
      letter-spacing: 0.01em; }
    .contact-section form textarea {
      padding: 5px 0 48px 26px; }
    .contact-section form select {
      padding: 6px 0 9px 22px; }
    .contact-section form option {
      background-color: #1d1c21;
      border-bottom: 1px solid #36353d; }
    .contact-section form .select-label {
      margin-top: 27px; }
    .contact-section form button {
      font-family: Raleway;
      color: #d8d8d9;
      font-size: 16px;
      display: flex;
      flex-direction: row;
      border: 2px solid #d8d8d9;
      font-weight: 600;
      background: none;
      line-height: 19px;
      width: 180px;
      align-items: center;
      justify-content: center;
      margin-top: 8px;
      align-self: center; }
      .contact-section form button .plus {
        font-size: 34px;
        line-height: 40px;
        font-weight: 300;
        margin-left: 12px; }
  .contact-section .map-section {
    display: flex;
    justify-content: space-between;
    height: 317px;
    background-color: #c4c4c4;
    margin-top: 80px; }
    .contact-section .map-section .social-icons {
      width: 22%;
      display: flex;
      justify-content: space-between;
      margin-top: 15px; }
      .contact-section .map-section .social-icons img {
        width: 20px; }
    .contact-section .map-section .map-info {
      margin-left: auto;
      margin-right: auto;
      width: 26%;
      margin-top: 20px; }
      .contact-section .map-section .map-info div {
        margin-top: 12px; }
    .contact-section .map-section h4 {
      font-family: Playfair Display SC;
      color: #1d1c21;
      font-size: 14px;
      font-weight: 900;
      line-height: 19px;
      letter-spacing: 0.01em;
      margin: 0; }
    .contact-section .map-section p {
      font-family: Raleway;
      color: #1d1c21;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.01em;
      margin: 0; }

.footer {
  width: 1134px;
  margin-left: auto;
  margin-right: auto; }
  .footer ul {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #f6f6f6;
    border-top: 1px solid #f6f6f6;
    list-style: none;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 20px 0; }
    .footer ul a {
      font-family: Raleway;
      color: #f6f6f6;
      font-size: 15px;
      letter-spacing: 0.01em; }
    .footer ul a:hover {
      color: #ff0e0e; }
  .footer .footer-bottom {
    font-family: Raleway;
    color: #89898b;
    font-size: 13px;
    display: flex;
    justify-content: space-between; }
    .footer .footer-bottom p {
      letter-spacing: 0.01em;
      margin: 9px 0; }
    .footer .footer-bottom .social-icons {
      display: flex;
      justify-content: space-between;
      width: 60px; }
      .footer .footer-bottom .social-icons img {
        width: 15px; }

body {
  background-color: #1d1c21;
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

a {
  text-decoration: none; }

@media only screen and (min-width: 1441px) {
  .home-section {
    background-size: cover;
    height: 664px; }
    .home-section .mask-color {
      height: 664px; }

  .awards-section .inner-awards {
    background-size: cover; }
  .awards-section .layer {
    margin-left: auto;
    margin-right: auto;
    width: 60%; }
  .awards-section .award,
  .awards-section .award-middle {
    width: 33%;
    justify-content: center; }
  .awards-section .award-middle {
    margin: 0; }

  .about-us-section .about-main {
    background-size: cover; }
  .about-us-section .container {
    position: relative; }
  .about-us-section img {
    left: 43%; } }
@media only screen and (max-width: 1430px) and (min-width: 1024px) {
  .home-section {
    background-size: cover;
    height: 664px; }
    .home-section .mask-color {
      height: 664px; }
    .home-section .home-content {
      width: 90%; }
    .home-section nav {
      width: 100%; }

  .artists-section {
    width: 90%; }
    .artists-section img {
      width: 200px; }
    .artists-section h3 {
      font-size: 20px !important; }

  .awards-section .inner-awards {
    background-size: cover; }
  .awards-section .layer {
    margin-left: auto;
    margin-right: auto;
    width: 96%; }
  .awards-section .award,
  .awards-section .award-middle {
    width: 32%;
    justify-content: center; }
  .awards-section .award-middle {
    margin: 0; }
    .awards-section .award-middle p {
      width: 100%; }

  .featured-section {
    width: 90%; }
    .featured-section img {
      width: 200px; }

  .about-us-section img {
    left: 43%;
    width: 500px; }
  .about-us-section .container {
    width: 90%;
    position: relative; }
  .about-us-section .about {
    width: 385px; }
    .about-us-section .about p {
      font-size: 13px; }

  .instagram-section .collection {
    display: flex;
    flex-direction: column;
    width: 866px; }
  .instagram-section .big-col {
    display: none; }
  .instagram-section .small-col {
    justify-content: center; }
    .instagram-section .small-col img {
      margin-left: 15px;
      margin-right: 0; }

  .contact-section {
    width: 90%; }

  .footer {
    width: 90% !important; }
    .footer .footer-bottom {
      font-size: 11px !important; } }
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .home-section {
    background-size: cover;
    height: 664px; }
    .home-section .mask-color {
      height: 664px; }
    .home-section .home-content {
      width: 95%; }
    .home-section nav {
      width: 100%; }
      .home-section nav li {
        font-size: 12px; }
    .home-section .logo-column {
      margin-right: 25px !important; }

  .artists-section {
    width: 90%; }
    .artists-section img {
      width: 150px; }
    .artists-section .read {
      flex-direction: column; }
    .artists-section .artists-main div {
      width: 90%; }

  .contact-section {
    width: 80%; }
    .contact-section .map-section {
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      flex-direction: column;
      height: 568px; }
    .contact-section .map-info {
      margin-left: auto;
      margin-right: auto;
      width: 70% !important;
      margin-bottom: 20px !important; }
    .contact-section h4 {
      font-size: 12px !important; }
    .contact-section p {
      font-size: 13px !important; }

  .about-us-section img {
    display: none; }
  .about-us-section .container {
    width: 80%;
    position: relative; }
  .about-us-section .about {
    width: 385px; }
    .about-us-section .about p {
      font-size: 13px; }

  .awards-section .inner-awards {
    background-size: cover; }
  .awards-section .layer {
    margin-left: auto;
    margin-right: auto;
    width: 96%; }
  .awards-section .award,
  .awards-section .award-middle {
    width: 32%;
    justify-content: center; }
    .awards-section .award img,
    .awards-section .award-middle img {
      width: 25%; }
  .awards-section .award-text h3 {
    font-size: 14px; }
  .awards-section .award-text p {
    font-size: 12px; }
  .awards-section .award-middle {
    margin: 0; }
    .awards-section .award-middle p {
      width: 100%; }

  .featured-section {
    width: 90%; }
    .featured-section .featured-main {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .featured-section .right-col {
      margin-right: 0; }

  .instagram-section h2 {
    font-size: 36px; }
  .instagram-section .collection {
    display: flex;
    flex-direction: column;
    width: 760px; }
  .instagram-section .big-col {
    display: none; }
  .instagram-section .small-col {
    justify-content: center; }
    .instagram-section .small-col img {
      margin-left: 15px !important;
      margin-right: 0 !important; }

  .footer {
    width: 95% !important; }
    .footer ul {
      font-size: 13px !important; }
    .footer .footer-bottom {
      font-size: 11px !important; } }
@media only screen and (max-width: 767px) {
  .mask .mask-color,
  .home-section,
  .home-content {
    background: none;
    width: 100% !important;
    margin-top: 0 !important; }

  .footer {
    width: 90% !important; }
    .footer ul {
      display: none !important; }
    .footer .footer-bottom {
      display: flex;
      flex-direction: column;
      padding: 10px 0; }

  .about-us-section {
    width: 100%;
    height: 100%; }
    .about-us-section img {
      display: none; }
    .about-us-section .about {
      margin-left: auto;
      margin-right: auto;
      width: 70%; }
    .about-us-section h2 {
      font-size: 24px; }
    .about-us-section p {
      font-size: 14px; }

  .featured-section {
    width: 85%; }
    .featured-section h2 {
      font-size: 36px; }
    .featured-section .feature-header {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      flex-direction: column; }
    .featured-section .featured-main {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .featured-section .right-col {
      margin-right: 0; }
    .featured-section .works-img,
    .featured-section .left-col {
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 0; }
    .featured-section .col-img {
      margin: 10px 0 10px 0; }

  .contact-section {
    width: 90%; }
    .contact-section .upload {
      margin-left: auto;
      margin-right: auto;
      justify-content: space-between;
      width: 80%; }
      .contact-section .upload label {
        padding-left: 0 !important;
        padding-right: 0 !important;
        font-size: 11px !important; }
    .contact-section img {
      display: none; }
    .contact-section form {
      width: 80%; }
    .contact-section .map-info {
      width: 60% !important; }
    .contact-section .map-section {
      height: 100%; }

  .instagram-section h2 {
    font-size: 24px; }
  .instagram-section .collection {
    display: flex;
    flex-direction: column;
    width: 90%; }
  .instagram-section .big-col {
    display: none; }
  .instagram-section .small-col {
    justify-content: center; }
    .instagram-section .small-col img {
      margin-left: 5px !important;
      margin-right: 0 !important; }

  .home-section {
    height: 900px; }
    .home-section .logo-column img {
      width: 100%; }
    .home-section nav {
      width: 100%;
      border-bottom: none; }
      .home-section nav ul {
        flex-direction: column;
        width: 100%;
        align-items: center; }
      .home-section nav li {
        border-bottom: 1px solid #f6f6f6;
        padding: 10px 0;
        width: 100%;
        text-align: center; }
    .home-section .winner-part img {
      display: none; }
    .home-section .winner-part .logo-column {
      margin-left: auto;
      margin-right: auto; }
      .home-section .winner-part .logo-column img {
        display: block; }

  .artists-section {
    width: 90%;
    height: 100%;
    margin-bottom: 20px; }
    .artists-section h2 {
      text-align: center;
      font-size: 48px; }
    .artists-section .artists-main {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap; }

  .awards-section {
    height: 100%; }
    .awards-section .inner-awards {
      background: none;
      height: 100%; }
    .awards-section .layer {
      margin-left: auto;
      margin-right: auto;
      flex-wrap: wrap;
      width: 80%;
      padding: 15px 0;
      height: 100%; }
    .awards-section .award,
    .awards-section .award-middle {
      width: 100%; }
    .awards-section .award-middle {
      margin-left: 0; } }

/*# sourceMappingURL=style.css.map */
